@model List<Department>

<a href="/Department/Add" class=" btn btn-outline-primary">New</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">DeptId</th>
            <th scope="col">Name</th>
            <th scope="col">ManagerName</th>
            <th scope="col">Location</th>
            <th scope="col">Branches</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <th scope="row">@d.DeptId</th>
                <td>@d.Name</td>
                <td>@d.ManagerName</td>
                <td>@d.Location</td>
                <td>@d.Branch</td>
                <td><a asp-action="Edit" asp-controller="Department" asp-route-id="@d.DeptId" class="btn btn-outline-info">Edit</a></td>
                <td><a asp-action="Delete" asp-controller="Department" asp-route-id="@d.DeptId" class="btn btn-outline-danger">Delete</a></td>

            </tr>
        }
    </tbody>
</table>
@section Header {
    <h2>Departments</h2>
}
@section Footer {
    <p>ProximaEd</p>
}