@model List<Student>



    <a href ="/Student/Add" class=" btn btn-outline-primary">New</a>


<table class="table">
    <thead>
        <tr>
            <th scope="col">SSN</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Image</th>
            <th scope="col">Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model)
        {
            <tr>
                <th scope="row">@s.SSN</th>
                <td>@s.Name</td>
                <td>@s.Age</td>
                <td>@s.Address</td>
                <td>@s.Image</td>
                <td>@s.Email</td>
                <td><a asp-action = "Edit" asp-controller = "Student" asp-route-id="@s.SSN" class="btn btn-outline-info">Edit</a></td>
                <td><a asp-action="Delete" asp-controller="Student" asp-route-id="@s.SSN" class="btn btn-outline-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
@section Header{
    <h2>Student List</h2>
}
@section Footer{
    <p>ProximaEd</p>
}